---
- hosts: all
  tasks:
    - name: Installing nginx web server
      sudo: yes
      apt: pkg=nginx,git,python-pip,libpq-dev,python-dev,postgresql,postgresql-contrib,python-psycopg2,python-virtualenv state=present

    - name: create directory structure if necessary
      file: path="/home/vagrant/sites/reservation.kisr.me"/{{ item }}
            state=directory
      with_items:
        - static
        - virtualenv
        - source
