description "Gunicorn server for {{ host }}"

start on net-device-up
stop on shutdown

respawn

setuid ubuntu
chdir /home/{{ user }}/sites/{{ host }}/source

exec ../virtualenv/bin/gunicorn \
    --bind localhost:8001 \
    superlists.wsgi:application
